li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f3f3;
  padding: 10px 20px;
  margin-bottom: 5px;
}
li span {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  min-width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li span:hover {
  cursor: pointer;
  background: #f3cdcd;
}
